<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1 style="text-align:center"> من هنا يمكنك الحجز مع د. ريهام الشال   </h1>
<br />

<center class="container" style="align-content:center ">
    <a style="text-align:center" asp-controller="Paypal" asp-action="Estshara3yada" class="btn btn-primary ">حجز استشارة في العيادة</a>
    <br />
    <br />
    <br />
    <a style="text-align:center" asp-controller="Paypal" asp-action="Kshf3yada" class="btn btn-primary ">حجز كشف في العيادة</a>
    <br />
    <br />
    <br />
    <a style="text-align:center" asp-controller="Paypal" asp-action="Motap3t7aml" class="btn btn-primary ">حجز متابعة الحمل</a>
    <br />
    <br />
    <br />
    <a style="text-align:center" asp-controller="Paypal" asp-action="EstsharaOnlineEg" class="btn btn-primary ">حجز استشارة طبية اون لاين من داخل مصر </a>
    <br />
    <br />
    <br />
    <a style="text-align:center" asp-controller="Paypal" asp-action="Index1" class="btn btn-primary ">حجز استشارة طبية اون لاين من خارج مصر </a>
    <br />
    <br />
    <br />
    <a style="text-align:center" asp-controller="Paypal" asp-action="Index" class="btn btn-primary ">حجز دورة ولادة مطمئنة</a>
    <br />
    <br />
    <br />
    <a style="text-align:center" asp-controller="Paypal" asp-action="TshnogMhpli" class="btn btn-primary ">حجز دورة التشنج المهبلي</a>
    <br />
    <br />
    <br />
    <a style="text-align:center" asp-controller="Paypal" asp-action="ThirtyFive" class="btn btn-primary "> 35$</a>
    <br />
    <br />
    <br />
    <a style="text-align:center" asp-controller="Paypal" asp-action="FiftyFive" class="btn btn-primary "> 55$</a>
    <br />
    <br />
    <br />
    <a style="text-align:center" asp-controller="Paypal" asp-action="OneHundred" class="btn btn-primary "> 100$</a>
    <br />
    <br />
    <br />

</center>
