@model MyDoctorAPI.Models.UserEmail
@{
    ViewData["Title"] = "Create";
}





<section id="contact" class="contact">

    <div class="container">
        <div class="section-title">
            <h2>تواصل معنا</h2>
            <p>تواصل معنا لاي استفسارات وليصلك كل جديد</p>
        </div>

    </div>
   <div class="container">

        <div class="row mt-5">

            <div class="col-lg-12">
                <div class="col-md-12">
                    <div class="info-box mt-4">
                        <i class="bx bx-envelope"></i>
                        <h3>Email Us</h3>
                        <p>Tbibty.Com@gmail.com<</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="info-box mt-4">
                        <i class="bx bx-phone-call"></i>
                        <h3>Call Us</h3>
                        <p>01005217612 </p>
                    </div>
                </div>
            </div>

        </div>
        <h2> ضع الايميل الخاص بك ليصلك أخر المقالات </h2>
        <div class="col-lg-12">
        <form  method="post"  >
        <div class="row">
        <div class="col-md-12 form-group mt-3 mt-md-0">
        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
        </div>
        </div>
       <div class="text-center"><button asp-controller="UserEmails" asp-action="Create" type="submit">Add Email</button></div>
        </form>
        </div>

        </div>

</section>

