@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<br />
<br />
<br />
<h1 class="freeses">
    ليكي جلسة استشارة هدية بعد إتمام الكورس 
</h1>
<div class="container">
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h1>دورة ولادة مطمئنة   </h1>
            <h2>مش كفاية بقى؟   </h2>
            <p>
                تعب ساعات بتبحثى عالانترنت .. بتسمعى الرأى وعكسه .. وفى الآخر مفيش معلومة كاملة على بعضها ومش عارفة ازاى تحافظى على البيبى من أى خطر أثناء الولادة نتيجة قرار غلط من الطبيب/ة او حتى منك…
                حيرة بين الولادة طبيعى و لا قيصرى .. دى أسهل لا دى أصعب .. دى أسرع لا دى أخطر ..  حيرة لما الدكتور/ة يقول البيبى تعبان وأنا بحملك المسؤلية يامدام لو جراله اى حاجة .. لازم تاخدى قرارك بسرعة …
                قلق هو الدكتور/ ة مستعجل .. طيب هو دا استسهال منى .. أتأكد ازاى إنه مش بيخوفنى علشان أخد قرار وخلاص …
                ندم .. لو كنت ولدت قيصرى كان ممكن اتجنب المشاكل اللي حصلت للبيبى و الحضانة اللى دخلها .. كان المفروض سمعت كلامهم وولدت طبيعى بدل ما فتحت بطنى وأصلا الحوض كان ممتاز ،كله كان ماشى كويس هما اللى قالو مش هتتحملى .. بالرغم انى عرفت إن فى ناس متوجعتش اصلا فالولادة …
            </p>
        </div>
        <h2>
            مش كفاية تعب و حيرة و قلق و ندم
        </h2>
        <p>آن الآوان تقدرى تاخدى قرارك بنفسك وتساعدى حتى الطبيب/ة يوصلكى للقرار الصح .. و تعيشى يوم ولادة مطمئنة تحكى عنها العمر كله </p>
        <h2>
            لو كفاية فعلا .. فدا المكان الصح
        </h2>
            <p id="pay"> خلينى أكررها تانى .. انتى هنا فى المكان الصح . . هنا هتنسى التعب والحيرة و القلق و هتسندى ظهرك على المعلومة اللى مستحيل تعيشى بعدها أى ندم </p>


    </div>
</section>
    <div class="fixedpay">
        <a style="color:white" href="#pay">للحجز باستخدام الفيزا من أي مكان بالعالم اضغط هنا</a>
    </div>
<div class="text-center">
    <h1 style="text-align:center"> من هنا يمكنك الاشتراك في دورة ولادة مطمئنة  </h1>

    <div class="paypalbut" id="paypal-button-container"></div>
</div>
    @section Scripts {
        @*Use ViewBag.ClientId to load Paypal Javascript SDK*@
        <script src="https://www.paypal.com/sdk/js?client-id=@ViewBag.ClientId"></script>

        <script>
            paypal.Buttons({
                style: {
                    layout: 'vertical',
                    color: 'silver',
                    tagline: 'false'
                },
                createOrder: (data, actions) => {
                    return fetch("@Url.Action("Order")", {
                        method: "post",
                    }).then((response) => {
                        if (!response.ok) {
                            return response.json().then(error => { throw error; });
                        }
                        return response.json();
                    }).then((order) => order.id)
                        .catch(error => alert(error.message));
                },
                onApprove: (data, actions) => {
                    return fetch(`@Url.Action("Capture")?orderId=${data.orderID}`, {
                        method: "post",
                    }).then((response) => {
                        if (!response.ok) {
                            return response.json().then(error => { throw error; });
                        }

                        window.location.href = "@Url.Action("Success")";
                    }).catch(error => alert(error.message));
                }
            }).render('#paypal-button-container');
        </script>
    }
<div class="row">
    <div class="col-lg-6" data-aos="fade-right" style="margin-bottom:10px">
        <img style="height:450px; width:600px;" src="assets/images/courses/wladamotm2na1.webp" class="img-fluid" alt="">
      </div>
<div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
    <h3 style="direction:rtl;font-family:Arial">
        دلوقتى وقفى اهدار وقتك .. أيام وأسابيع حملك مش المفروض تضيع فى اللف دا
    </h3>
    <p style="direction:rtl" class="fst-italic">
        اكتشفى النظام اللى مئات من حالاتنا طبقوه ليعشو ولادة .. مطمئنة
        فى ولادة مطمئنة احنا هناخدك من مكانك دلوقتى للمكان اللي محتاجه توصليله .. هتخرجى من ولادة طفلك إنتى كمان مولودة من جديد .. تكملو بعدها مع بعض رحلة استمتاع و سعادة بدإت البداية الصح</p>
  </div>
</div>

<div class="row">
    <div class="col-lg-6" data-aos="fade-right">
        <img style="height:450px; width:600px" src="assets/images/courses/wladamotm2na2.webp" class="img-fluid" alt="">
    </div>
    <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
        <p style="direction:rtl" class="fst-italic">
            فرحتك و هدوءك و أمانك فى الرحلة دى مسئوليتنا .. ليه ؟؟

            لأننا حاسين اوى اللى انتى حساه

            احنا كنا فى نفس مكانك اللى انتى فيه دلوقتى .. و مؤمنين إنك تمتلكى الشجاعة و تستحقى تعيشيه كأسعد يوم فى حياتك

            هنوصل مع بعض باستخدام منهجنا المثبت بالعلم ..

            لو حالاتنا قدرو يعملوها .. فانتى أكيد تقدرى

            مش مهم قدر معلوماتك الطبية ( قليلة او كتيرة ) هتتعلمى ازاى تريحى ترس الأفكار ( overthinking ) المرهق اللى مبيوقفش.
        </p>
    </div>
</div>

<div class="row">
  
    <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
        <p style="direction:rtl" class="fst-italic">
            طبيبتى هنا و عايزين نوضحلك بالتحديد إيه اللى فايتك .. و ازاى تبنى .. و تطبقى .. و تعيشى تجربتك الخاصة جدااا عن الولادة و دا مستحيل يكمل بدون الجلسة الختامية اللى بنتقابل فيها لايف و بنفصص كل كلمة لم تتضح و بتحكى عن حالتك انتى فقط .. و دا بيخلى الكورس فى النهاية كإنه متفصل على مقاسك …

            هنوصلك للوصفة اللى خرجت اللى أخدو الكورس بعدها بالابتسامة دى
        </p>
        <h3 style="direction:rtl;font-family:Arial">
            لو بتعيشى دلوقتى نفس الإحساس اللى كانو عايشينه لما بدأوا معانا و بتسألى إزاى هخرج البيبى منى ؟ و أخرج أنا كمان من التجربة دى بأمان و حاسة إنك مش عارفة فين الصح و مين الغلط .. خايفة متقدريش و مليون فكرة و قصة و رأى حواليكى .. بس انتى مش مرتاحة … ؟
        </h3>
    </div>
    <div class="col-lg-6" data-aos="fade-right">
        <img style="margin-bottom:15px ; height:600px" src="assets/images/courses/wladamotm2na3.webp" class="img-fluid" alt="">
    </div>
</div>

<div class="row">
    <div class="col-lg-6" data-aos="fade-right">
        <img style="height:450px; width:600px" src="assets/images/courses/wladamotm2na4.webp" class="img-fluid" alt="">
    </div>
    <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
        <p style="direction:rtl" class="fst-italic">
            دا مش علشان إنك معندكيش القدرة للولادة أقسملك إن ربنا خلق جسمك مستعد يقف دايما يساندك .. بالظبط زى ما خلقه مستعد يمشى و يتكلم .. ( لكن افتكرى رحلتنا و احنا لسا بنتعلم المشى و الكلام كام مرة وقعنا و كام مرة قولنا الكلام غلط و الناس ضحكت علينا لحد ما بقينا بنجرى مش نمشى بس و بنتكلم بسلاسة كمان )

            التجربة اللى مرة غلط و مرة صح كانت الطريق الوحيد لإيقاظ خلايا جسمنا اللى اتخلقت تقدر

            لكن للأسف الغلط فى تجربة الولادة مش مجرد وقعة مشى او ضحكة على كلمة نصها متاكل .. لا .. دا حياتك و سلامتك انتى و البيبى مسلوب الإرادة تماما و المسئول منك انتى فقط .
        </p>
    </div>
</div>



<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h1>ليه لازم دورة ولادة مطمئنة ؟ </h1>
            <h2>أربعة محاور   </h2>
            <p> 01 </p>
            <h2>قوة التخصص</h2>
            <p>
                لدورة لا تُبنى على تجربة شخصية و لا معلومات مجمعة من مدربات الولادة الطبيعية ..

                الدورة مبنية على خبرات نتاج آلاف الحالات اللى اشتغلنا معاهم إيد بإيد .. عيشنا مع كل طرف كان حاسس بإيه و اكتشفنا أكتر حاجة المفروض يعرفها .. ساعتها تكون التجربة أسهل ..

                الدورة مزيج رهيب بين الطب بمدرستية الكلية الملكية بانجلترا و المدرسة الأمريكية بالولايات المتحدة .. و بين تلخيص كل معلومات الدولا و مدربين الولادة بعد فلترتها .. و أيضا بين الأسرار و التركات اللى بتفرق طبيب عن التانى و اللى مستحيل حد يقولها .. لكن احنا مفوتناش أى لحظة …
            </p>
            <p> 02 </p>
            <h2>أهمية الوعى بكل الطرق </h2>
            <p> من أكبر أسباب إكتئاب بعد الولادة . . الحامل بتدرب ٩ شهور و تتأهل نفسيا لنوع واحد من الولادة .. اللى لما بيحصل غيرها للأسف كتير بيقعو فريسة لشعور الفشل و الرعب من مجهول لم تستعد له … </p>
            <p> 03 </p>
            <h2>القيمة الحقيقية لسلامتك</h2>
            <p> مهما بلغت قدرة جسمنا على التشافى  .. الغلطة فيه مش هترجع زى الأول .. جرح قيصرى غير ضرورى أو شق عجان و توسع بدون تهيئة صحيحة له تمنه 

طفل اتعرض لنقص الأكسجين أثناء الولادة  .. أو خرج بولادة قيصرية مبكرة بدون داعى دخلته الحضانة .. و غيرها كتييييير من المشاكل اللى معلومة صغيرة جداااااا كانت قادرة تحميكى منها .. </p>
            <p> 04 </p>
            <h2> سر الاستمتاع بالولادة </h2>
            <p> متعة إنك تكونى متوقعة و عارفة كل حاجة بتحصل حواليكى و فى نفس الوقت هاااااااااادية و مطمنة .. دى لذة مفيش قيمة فى العالم تقدر تشتريها.  </p>

    </div>
    </div>
</section>

  <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>نجاحاتنا</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="gallery-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><a class="gallery-lightbox" href="assets/images/courses/wladamotm2nac1.png"><img src="~/assets/images/courses/wladamotm2nac1.png" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="gallery-lightbox" href="assets/images/courses/wladamotm2nac2.png"><img src="~/assets/images/courses/wladamotm2nac2.png" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="gallery-lightbox" href="assets/images/courses/wladamotm2nac3.png"><img src="~/assets/images/courses/wladamotm2nac3.png" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="gallery-lightbox" href="assets/images/courses/wladamotm2nac4.png"><img src="~/assets/images/courses/wladamotm2nac4.png" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="gallery-lightbox" href="assets/images/courses/wladamotm2nac5.png"><img src="~/assets/images/courses/wladamotm2nac5.png" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="gallery-lightbox" href="assets/images/courses/wladamotm2nac6.png"><img src="~/assets/images/courses/wladamotm2nac6.png" class="img-fluid" alt=""></a></div>
                   @* <div class="swiper-slide"><a class="gallery-lightbox" href="assets/images/gallery/gallery-7.jpg"><img src="~/assets/images/gallery/gallery-7.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="gallery-lightbox" href="assets/images/gallery/gallery-8.jpg"><img src="~/assets/images/gallery/gallery-8.jpg" class="img-fluid" alt=""></a></div>*@
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Gallery Section -->


<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h1>ليه عملنا الكورس ؟  </h1>
            <h2>مش حاسة إنه ابنى .. حاسه إنه ابن المستشفى
 أنا فشلت أكون أم   </h2>
            <p>
                تعليق لأم بعد ولادة بتدخلات طبية
                هما اللى أقنعونى إنى مليش أى اختيار
                بالرغم إن كان عندى اختيارات كتير .. أنا فقط لم أكن أعرفها وقتها
                حسيت إن الولادة بتحصلى .. مش إنى أنا اللى بولد
                .. لو كنت أعرف أكيد كان ممكن تكون التجربة أفضل ..
            </p>
        </div>
    </div>
</section>
<img class="imgwlada" src="~/assets/images/courses/wladamotm2na6.png" />
<img class="imgwlada" src="~/assets/images/courses/wladamotm2na7.png" />

<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h1>محتويات الدورة </h1>
                <img class="imgwlada" src="~/assets/images/courses/wladamotm2na5.png" />

        </div>
    </div>
</section>
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h1>أسئلة تدور ببالك </h1>
                <h2>هل معلومات وبحث الانترنت لوحده كفاية ؟؟   </h2>
                <p>
                    لو كان كفاية ليه كتير من الحوامل اللى جمعو معرفتهم من الانترنت اتعرضو لمشاكل أثناء الولادة و بيوصفو اليوم دا بالرعب بالرغم من كل المعلومات اللى جمعوها من هنا و هناك .. لإن للأسف كتير منها كان هو مصدر رعبهم من البداية …
                </p>
                <h1> ★★★★★★ </h1>
                <h2>أكيد فى ناس ولدو و فرحو و مأخدوش الكورس دول إيه ؟  </h2>
                <p>
                    اتنين راحو رحلة لجزيرة جميلة جدااا .. واحد فيهم كان معاه خريطة كاملة للجزيرة و التانى ميعرفش فيها غير الشط .. مين فيهم هيسعد بالرحلة دى أكتر ؟ .. مين فيهم هيستمتع أكتر ؟ مين اللى هيكون مطمن لو حصلت اى حاجة إنه هيقدر يتصرف صح ؟

                    الناس اللى ولدت و خرجت مبسوطة .. درجة سعادتهم كانت هتكون أضعاف لو كانت معاهم الخريطة … خريطة ( ولادةمطمئنة )
                </p>
                <h1> ★★★★★★ </h1>
                <h2>انا اصلا بتابع مع دكاترة ممتازين و مش محتاجة أى معلومات معاهم هما هيتصرفو ؟؟؟   </h2>
                <p>
                    أقولك على سر .. الولادة عاملة زى اتنين فى قارب عايزين يعدو للشط التانى .. فيهم واحد خبير بالتجديف .. و التانى واحد من ٣ أنواع

                    الأول ميعرفش أى معلومة عن التجديف و مبيشاركش نهائى و اعتماده كله على الخبير .. و فى اللحظة اللى هيحتاجه فيها الخبير لو فى خطر أو موجة عالية هيكون مش عارف يعمل إيه و منتظره يشرحله و يفهمه فى وقت هو فيه محتاج أقصى درجات التركيز و مش فاضى يشرحله نهائى …

                    النوع التانى عنده معلومات بس مش مترتبة .. و منها كمان معلومات غلط عن التجديف .. و بالرغم من إن القارب ماشى كويس .. و مفيش أى خطر .. إلا إنه شايف إن أداء الخبير غلط و بيعدل عليه .. و للأسف كمان بيحاول يستخدم المجداف فى اتجاه معاكس و لأنه مش صح كسرله المجداف .. تخيلو الوضع على القارب وقتها عامل ازاى …

                    النوع التالت عنده معلومات صحيحة مبنية على علم و معرفة .. عارف امتى يقدم مساعدته و امتى يصمت تماما و يتابع .. فاهم و قارى كل أداء الخبير و بيقرأه من نظرته بدون و لا كلمه امتى يكون محتاج مساعدة و امتي لا .. و بيستجيب لأى طلب لأنه فاهم هدف كل طلب أو نصيحة و إن آخرها إنهم يوصلو كلهم لبر الأمان ….
                </p>
                <h1> ★★★★★★ </h1>
            </div>
        </div>
    </section>

    <img class="imgwlada" src="~/assets/images/courses/wladamotm2na8.png" />

    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h1>★★★★★★  </h1>
                <h2>عدم المعرفة الطبية 
كم تكلفنا؟   </h2>
                <h3> بعض الناس لا يستثمر فى صحته إلا بعد وقوع كارثة .. احنا و اثقين إنك مش منهم و إنك واعية بقيمة المعلومة القادرة على منع بوادر أى مشكلة .. مش كدا وبس .. دا كمان بتضمنلك الثبات النفسى و بتوفر عليكى ألم مش المفروض تعيشيه …. </h3>
                <p>
                    دخول أعظم و أروع تجربة فى حياة الإنسان الأم و الجنين دون التحضير و الاستعداد يكلفنا على كل المستويات:

                    إهدار صحتنا على أدوية لم نكن مضطرين لتحمل آثارها الجانبية سواء للأم أو الجنين .

                    مصاريف أكثر فى إجراءات و تدخلات طبية لم نكن بحاجة إليها.

                    إحساس بالذنب و الندم بعد فوات الأوان عندما ندرك أن معللومة بسيطة جدااا كانت قادرة على تجنيبنا الكثير من المشكلات و المضاعفات الطبية و النفسية .

                    يدفع جسدك من طبيعته و شكله و ندباته ثمنا باهظا نتيجة تأخرنا عن اتخاذ القرار الصحيح و بالكورس نماذج تحكى بنفسها عن هذا ..

                    إحساس بالخذلان و فقدان للثقة بنفسك و بمن حولك أحيانا و هو مرهق جدا عندما لا تفهمين دوافعم و لا تتوافر لكى المعلومات .مضاعفات جراحية قد نعيش عمرنا ندفع ثمنها أحيانا ..الحوض كان ممتاز ،كله كان ماشى كويس هما اللى قالو مش هتتحملى .. بالرغم انى عرفت إن فى ناس متوجعتش اصلا فالولادة …
                </p>
                <h1>★★★★★★  </h1>
                <h2>
                    أنا تابعت كل
                    فيديوهات اليوتيوب
                    أليست بديل عن الكورس ؟
                </h2>
                <p>
                    البرنامج التدريبى يأخذك فى رحلة متكاملة لا يمكن الوصول لها من الأجزاء المتفرقة على اليوتيوب .

                    الفيديوهات العادية هى إجابة منفردة من مئات الإجابات و القطع المطلوبة لإتمام حل لغز الولادة .أما البرنامج المتكامل ( كورس ولادة مطمئنة ) هو تجميع كل قطع و عناصر حل اللغز فى مكان واحد..

                    ليس هذا وفقط بل مدعوم بإرشاد و تأهيل شخصى منفرد لأسئلتك و حالتك خصوصا و ليس كلام عام ..كل هذا فى وقت قياسى دون تضييع وقتك و إهدار مجهودك و طاقتك بين فيديوهات الإنترنت و المعلومات و النصائح المتضاربة حتى من الأطباء أنفسهم .

                    اليوتيوب يصنع أثرا و نتائج .. لكن لا يمكن أبدا أن يصنع الأثر الأعمق و التحول الأكبر إلا بعرض كل الأسرار و هذا ما يحدث فى البرنامج و الدورة التدريبية.

                    ببساطة اليوتيوب ليس لديه كل أجزاء اللغز فى مكان واحد و دعم شخصى مباشر .. لكنه مازال ذا قيمة و يساعد رغم فقدان الوقت الكثير و ضعف القدرة على تمييز صحة المعلومات عليه ..
                </p>
                <h1>★★★★★★  </h1>
                <h2> كيف أتأكد أن الكورس
يجاوب على كل تساؤلاتى </h2>
                <p>
                    ​يمكنك إرسال كل التفاصيل التى تحتاجى لأن يحتويها الكورس على الواتساب للتأكد أن الكورس يشرحها لتشعرى بالأمان قبل حجزه

                </p>
                <h1>★★★★★★  </h1>

                <h2>
                    كم تكلفة الكورس
                    و هل متاح التخفيض؟
                </h2>
                <p>
                    على فترات يقدم موقع طبيبتى خصومات على الدورات التدريبية .. تواصلى معنا على الواتساب لمعرفة التحديثات و طرق الدفع

                    بعد إتمام الكورس نبدأ جلسة واحدة استشارة أونلاين ( هدية ) عبر برنامج زووم
                    فى حالة الولادة معنا تخصم قيمة الدورة من تكلفة الولادة ..
                </p>
                <h1>
                    نراكى على خير فى بيئة ولادة حميمية و معرفة ستغير من طريقة تفكيرك تجاه الولادة و ستعبر بكى من المخاوف إلى الطمأنينة و الإستعداد بكل ثقة و أمان 😊🌷

                </h1>


            </div>     
        </div>
    </section>

    <img class="imgwlada" src="~/assets/images/courses/wladamotm2na9.png" />
    <img class="imgwlada" src="~/assets/images/courses/wladamotm2na10.png" />
    <img class="imgwlada" src="~/assets/images/courses/wladamotm2na11.png" />















</div>






