
<br />
<br />
<br />
<br />
<h1 class="freeses">
    ليكي جلسة استشارة هدية بعد إتمام الكورس
</h1>
<div class="container">
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h1>دورة أسرار شفاء التشنج المهبلى اللاإرادى   </h1>

                <center> <iframe class="" style="width:70%;height:600px" id="myIframe" src="https://www.youtube.com/embed/v7nR9VDxoh8?si=kJx_M608U2l4ikPG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></center>

                <p>
                    الكورس يشمل دورة التأهيل لعلاقة زوجية ناجحة ( ليلة الزفاف )
                    و دورة أسرار شفاء التشنج بكل التفاصيل :
                    * شرح تفصيلى بالصور عن أسرار الجاهز التناسلى و غشاء البكارة.
                    * كيف يرى الطب العلاقة الزوجية و ما هى مراحلها و كيف يكون الاستعداد الصحيح لها.
                    * لماذا تتألمى أثناء العلاقة و كيف تسيطرى على مشاعرك و تحويلها لمشاعر إيجابية؟
                    * لماذا ينزل دم و هل لابد أن يحدث مع كل البنات؟
                    * لماذا لا يحدث ؟
                    * قصص نجاح لكثير من الحالات و بيشرحولك بنفسهم رسائل لكى و للزوج بما مرو به و كيف تخطوه ؟ و كيف سيساعدكم الوعى بتجاربهم ؟
                    * أنواع العلاجات الأخرى ( العلاج الدينى و العلاج من السحر و الربط و باسط العضلات و التخدير و كل الأجهزة و البوتوكس ) و كل أنواع العلاج الصحيح منها و الخرافات.

                    * الموسعات استخدامها الصحيح و كيف تصنعيها بنفسك؟
                    * العمليات بأنواعها و متى تحتاجيها و متى نحذر منها.
                    * كيف تشخصى حالتك بنفسك.
                    * كل أنواع و طرق العلاج و كيف تختارى الطريقة الصحيحة المناسبة لكى.
                    * تحذيرات هامة جدااااااا.
                    * شرح كامل لدور الزوج فى العلاج و الحل الطبى الصحيح لأسرع طرق الحل .
                    * جلسات يومية و تمرينات خاصة.
                    * شرح تعريفى كامل عن تفاصيل العلاقة الزوجية العلاجية و مراحلها و خطواتها و كل المعلومات التى تحتاجى إجابتها.
                    * تفاصيل و أسرار فى العلاج لا يعرفها الكثير من الأطباء و هى سبب تراجع نسب الشفاء و حتى تعقيد الحالة .. سنكشفها لكى .

                    الاشتراك للكورس للزوجين بقيمة
                    ١٣٥٠ جنيه

                    *** بعد الإنتهاء من الكورس يتم حجز جلسة واحدة استشارة أونلاين مع دكتورة ريهام الشال كهدية لإتمام أى إستفسارات تتبع الدورة مهما كانت كثيرة.
                    لكى تخرجى من هذه الدورة التدريبية بروح منفتحة و عقل و قلب مطمئن و بيت سعيد هادئ و علاقة زوجية ممتعة و آمنة بإذن الله ..

                    نراكم على خير فى الكورس 🌷

                </p>
            </div>
            <p id="pay"></p>
                <style>
                    .image-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                        .image-container img {
                            max-width: 100%;
                            height: auto;
                        }
                </style>

                <div class="image-container">
                    <img src="~/assets/images/courses/course2.jpg" alt="Course Image">
                </div>                

        </div>
    </section>
@*    <div class="fixedpay">
        <a style="color:white" href="#pay">للحجز باستخدام الفيزا من أي مكان بالعالم اضغط هنا</a>
    </div>*@
 @*   <div class="text-center">
        <h1 style="text-align:center"> من هنا يمكنك الاشتراك في دورة أسرار شفاء التشنج المهبلى اللاإرادى  </h1>

        <div class="paypalbut" id="paypal-button-container"></div>
    </div>
    @section Scripts {
        <script src="https://www.paypal.com/sdk/js?client-id=@ViewBag.ClientId"></script>

        <script>
            paypal.Buttons({
                style: {
                    layout: 'vertical',
                    color: 'silver',
                    tagline: 'false'
                },
                createOrder: (data, actions) => {
                    return fetch("@Url.Action("Order4")", {
                        method: "post",
                    }).then((response) => {
                        if (!response.ok) {
                            return response.json().then(error => { throw error; });
                        }
                        return response.json();
                    }).then((order) => order.id)
                        .catch(error => alert(error.message));
                },
                onApprove: (data, actions) => {
                    return fetch(`@Url.Action("Capture")?orderId=${data.orderID}`, {
                        method: "post",
                    }).then((response) => {
                        if (!response.ok) {
                            return response.json().then(error => { throw error; });
                        }

                        window.location.href = "@Url.Action("SuccessTshnogMhpli")";
                    }).catch(error => alert(error.message));
                }
            }).render('#paypal-button-container');
        </script>
    }*@

