@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<MyDoctorAPI.Models.Article>
@{
    //Layout = "~/Views/Shared/_LayoutCustom.cshtml";

}

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h1 style="text-align:center">  Welcome Dr.Reham to admin panel </h1>
<br />
<br />
<center class="container" style="align-content:center">
<a style="text-align:center" asp-controller="ArticleFront" asp-action="NotApprovedArticles" class="btn btn-primary ">Click Here to get Not approved Articles</a>
<br />
    <a style="text-align:center;font-size:40px" class="nav-link " class="btn btn-primary" asp-area="" asp-controller="ArticleFront" asp-action="Index">Click here to Get all Articles</a>
    <br />
    <a style="text-align:center" asp-controller="Pictures" asp-action="Index" class="btn btn-primary ">Click here to add Pictures to home page</a>
    <br />
    <a style="text-align:center;font-size:40px" class="nav-link " class="btn btn-primary" asp-controller="UserEmails" asp-action="GetAllEmails">Click here to get all user Emails</a>

</center>



