
@{
    ViewData["Title"] = "SendEmail";
}

<h2>SendEmail</h2>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1 style="text-align:center">  Purchased completed Check your Email </h1>
