@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<MyDoctorAPI.Models.UserEmail>
@{
    //Layout = "~/Views/Shared/_LayoutCustom.cshtml";

}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<br />
<br />
<br />
<br />
<br />
<br />
<style>

    img {
        height: 150px;
    }

    .card {
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
        padding: 14px;
        cursor: pointer;
    }

        .card:hover {
            transform: scale(1.11);
            box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        }

        .card img {
            transform: scale(1);
            box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        }

        .card:hover img {
            opacity: 0.8;
        }

    .hamada:hover .member-icon {
        margin-top: 5px;
    }

    .member-icon {
        margin-top: -40px;
    }

    .animate {
        transition: all 0.3s ease-in-out;
    }

</style>

<h1 style="text-align:center">  All Emails </h1>



<div class="row">
    @foreach (var item in Model.Reverse())
    {                  
        <h1 style="text-align:center">  @Html.DisplayFor(modelItem => item.Email)</h1>
    }
</div>

